:root {
  --orange-red: rgb(255, 120, 85);
  --orange-color: rgb(255, 120, 87);
  --orange-lite-color: hsl(9deg 100% 95%);
  --blue-color: hsl(216deg 48% 26%);
  --grey-color: #6b717a;
  --border-color: #ccc;
  --main-transition: 0.3s;
  --main-padding: 60px;
  --main-line-height: 1.7;
  scroll-behavior: smooth;
}
/* Start global rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
*::selection {
  background-color: var(--orange-color);
  color: white;
}
*:focus {
  outline: none;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 0 20px;
}
.head {
  text-align: center;
}
.head span{
  color: var(--orange-color);
}
.head h2 {
  color: var(--blue-color);
  line-height: var(--main-line-height);
  margin-bottom: 70px;
}
.button button {
  background-color: var(--orange-lite-color);
  color: var(--orange-color);
  padding: 15px 30px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  overflow: hidden;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
}
.button button:hover {
  color: white;
}
.button button::before {
  content: "";
  position: absolute;
  background-color: rgb(255, 120, 85);
  width: 0;
  height: 100%;
  left: -25%;
  top: 0;
  z-index: -1;
  transform: skewX(45deg);
  transition: var(--main-transition);
}
.button button:hover::before {
  width: 150%;
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
  box-shadow: 5px 0px 10px 0px rgb(0 0 0 / 20%) inset;
}
::-webkit-scrollbar-thumb {
  background-color: var(--orange-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-red);
}
/* End global rules */
/* Start header */
header {
  position: relative;
  box-shadow: 0 0 5px rgb(0 0 0 / 50%);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo h1 {
  color: var(--blue-color);
}
header .menu {
  width: 30px;
  height: 70px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header .menu span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: black;
  transition: var(--main-transition);
}
header .menu span:first-child {
  margin-bottom: 7px
}
header .menu:hover span:first-child {
  margin-bottom: -3px;
  transform: rotate(45deg)
}
header .menu:hover span:nth-child(2) {
  opacity: 0;
}
header .menu span:nth-child(3) {
  margin-top: 7px;
}
header .menu:hover span:nth-child(3) {
  margin-top: -3px;
  transform: rotate(-45deg);
}
header .menu ul {
  position: absolute;
  top: calc(100% + 50px);
  left: 0;
  width: 100%;
  background-color: white;
  z-index: -1;
  opacity: 0;
  border-bottom: 3px solid var(--orange-color);
  transition: all var(--main-transition);
}
header .menu:hover ul {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 2px);
}
@media (min-width: 769px) {
  header .menu ul {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
}
header ul ul li a {
  display: block;
  padding: 20px;
  color: var(--blue-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
  transition: var(--main-transition);
}
header ul ul li a:hover {
  background-color: #eee;
  color: black;
}
header ul ul li a::before {
  content: "";
  position: absolute;
  background-color: var(--orange-color);
  width: 0;
  height: 3px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  transition: var(--main-transition);
}
header ul ul li a:hover::before {
  width: 100%;
}
/* End header */
/* Start landing */
.landing .container {
  display: flex;
  gap: 50px;
  justify-content: center;
  align-items: center;
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
@media (max-width: 991px) {
  .landing .container {
    flex-direction: column;
  }
}
.landing .text {
  display: grid;
  justify-content: center;
  gap: 20px;
  text-align: center;
  width: 500px;
  max-width: 100%;
}
@media (min-width: 992px) {
  .landing .text {
    width: 800px;
  }
}
.landing h2 {
  color: var(--blue-color);
  margin: 0;
}
.landing p {
  color: var(--grey-color);
  margin: 0;
}
.landing form {
  border: 1px solid var(--border-color);
  padding: 2px;
  display: flex;
  height: 60px;
  border-radius: 6px;
  background-color: rgb(250 250 250);
}
.landing form input[type="text"] {
  flex: 1;
  border: none;
  padding-left: 20px;
  background-color: inherit;
}
.landing form input[type="text"]::placeholder {
  transition: var(--main-transition);
}
.landing form input[type="text"]:focus::placeholder {
  opacity: 0;
}
.landing form .submit {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: white;
  border-radius: 6px;
  padding: 0 30px;
  cursor: pointer;
  overflow: hidden;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
}
.landing form .submit:hover {
  color: var(--orange-color);
}
.landing form .submit::before {
  content: "";
  position: absolute;
  left: -25%;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(45deg);
  z-index: -1;
  transition: var(--main-transition);
}
.landing form .submit:hover::before {
  width: 150%;
}
.landing .image {
  width: 800px;
  max-width: 100%;
}
.landing .image img {
  width: 100%;
}
/* End landing */
/* Start feature */
.feature {
  padding: var(--main-padding) 0;
}
.feature .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  text-align: center;
}
.feature .boxes .box .image {
  position: relative;
}
.feature .boxes .box .image::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  font-size: 30px;
  color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: var(--main-transition);
}
.feature .boxes .box:hover .image::before {
  font-size: 40px;
}
.feature .boxes .box:first-of-type .image::before {
  content: "\e0e3";
}
.feature .boxes .box:nth-of-type(2) .image::before {
  content: "\e0e3";
}
.feature .boxes .box:last-of-type .image::before {
  content: "\e0e3";
}
.feature .box .text h3 {
  color: var(--blue-color);
  transition: var(--main-transition);
}
.feature .box:hover .text h3 {
  color: var(--orange-color);
}
.feature .box .text p {
  color: var(--grey-color);
  line-height: var(--main-line-height);
}
/* End feature */
/* Start social */
.social {
  padding: var(--main-padding) 0;
}
.social .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
@media (max-width: 991px) {
  .social .container {
    flex-direction: column;
  }
}
.social img {
  width: 400px;
  max-width: 100%;
}
.social .head {
  text-align: left;
}
.social .head h2 {
  margin-bottom: 20px;
}
.social .text {
  max-width: 100%;
}
.social .text p {
  color: var(--grey-color);
  line-height: var(--main-line-height);
}
/* End social */
/* Start solution */
.solution {
  padding: var(--main-padding) 0;
}
@media (min-width: 1200px) {
  .solution .container {
    display: flex;
    align-items: center;
  }
}
.solution .head {
  text-align: left;
}
.solution .head h2 {
  margin-bottom: 20px;
}
.solution p {
  color: var(--grey-color);
  line-height: var(--main-line-height);
}
@media (min-width: 768px) {
  .solution .boxes {
    margin-top: 30px;
    display: flex;
    gap: 50px;
  }
}
.solution .box i {
  padding: 20px;
  font-size: 25px;
  border-radius: 6px;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--main-transition);
}
.solution .box:first-of-type i {
  background-color: var(--orange-lite-color);
}
.solution .box:last-of-type i {
  background-color: #dde8fa;
}
.solution .box:hover i {
  font-size: 35px;
}
.solution .box h3 {
  color: var(--blue-color);
  margin: 30px 0;
  transition: var(--main-transition);
}
.solution .box:hover h3 {
  color: var(--orange-color);
}
.solution .image {
  width: fit-content;
  margin: 30px auto;
}
@media (max-width: 767px) {
  .solution .image img {
    max-width: 100%;
  }
}
/* End solution */
/* Start pricing */
.pricing {
  padding: var(--main-padding) 0;
}
.pricing .container .boxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  text-align: center;
}
.pricing .boxes .box {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 40px 0;
  transition: var(--main-transition);
}
.pricing .boxes .box:hover {
  border-color: var(--orange-color);
}
.pricing .boxes .box h2 {
  color: var(--blue-color);
  margin-bottom: 0;
  font-size: 50px;
}
.pricing .boxes .box h3 {
  color: var(--blue-color);
  margin: 10px 0 30px;
}
.pricing .boxes .box ul {
  margin-bottom: 40px;
}
.pricing .boxes .box li {
  color: var(--grey-color);
  margin-bottom: 15px;
}
/* End pricing */
/* Start statistics */
.statistics {
  padding: var(--main-padding) 0;
}
.statistics .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  row-gap: 30px;
}
@media (min-width: 1200px) {
  .statistics .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
.statistics .box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.statistics h2 {
  color: var(--blue-color);
  font-size: 30px;
  margin: 0;
}
.statistics h3 {
  color: var(--blue-color);
  margin: 0;
}
/* End statistics */
/* Start screenshot */
.screenshot {
  padding: var(--main-padding) 0;
}
.screenshot .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.screenshot img {
  width: 250px;
  margin: auto;
}
@media (max-width: 992px) {
  .screenshot img {
    width: 100%;
  }
}
/* End screenshot */
/* Start installation */
.installation {
  padding: var(--main-padding) 0;
}
.installation .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
@media (max-width: 991px) {
  .installation .container {
    flex-direction: column;
  }
}
.installation img {
  max-width: 100%;
}
.installation .text {
  max-width: 100%;
}
.installation .head {
  text-align: left;
}
.installation .head h2 {
  margin-bottom: 20px;
}
.installation .text > p {
  color: var(--grey-color);
  line-height: var(--main-line-height);
}
.installation .download {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  transition: var(--main-transition);
}
.installation .download:hover {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
}
.installation .download i {
  color: var(--orange-color);
  font-size: 30px;
  transition: var(--main-transition);
}
.installation .download:hover i {
  color: white;
}
.installation .info {
  display: grid;
  gap: 10px;
}
.installation .info span {
  color: var(--grey-color);
  transition: var(--main-transition);
}
.installation .info p {
  color: var(--blue-color);
  font-weight: bold;
  margin: 0;
  transition: var(--main-transition);
}
.installation .download:hover span,
.installation .download:hover p {
  color: white;
}
/* End installation */
/* Start testimonials */
.testimonials {
  padding: var(--main-padding) 0;
}
.testimonials .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
}
.testimonials .box {
  border-radius: 10px;
  overflow: hidden;
}
.testimonials .box > p {
  padding: 20px;
  margin: 1px;
  margin-bottom: 0;
  color: var(--grey-color);
  line-height: var(--main-line-height);
  border: 1px solid var(--border-color);
  border-bottom: 0;
  position: relative;
}
.testimonials .box > p::before {
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  content: "\f10d";
  position: absolute;
  top: -20px;
  font-size: 60px;
  opacity: 0.2;
}
.testimonials .box .info {
  background-color: rgb(244, 246, 251);
  padding: 20px;
  transition: var(--main-transition);
}
.testimonials .box:hover .info {
  background-color: var(--orange-color);
}
.testimonials .box .info img{
  width: 100px;
  border-radius: 50%;
}
.testimonials .box .info .text h3 {
  color: var(--blue-color);
  margin: 0;
}
.testimonials .box .info .text p {
  color: var(--grey-color);
  margin-top: 10px;
}
/* End testimonials */
/* Start new */
.new {
  padding: var(--main-padding) 0;
}
.new .container {
  display: flex;
  justify-content: center;
  row-gap: 30px;
}
@media (max-width: 768px) {
  .new .container {
    flex-direction: column;
  }
}
.new figure {
  margin: 0 20px 0 0;
}
.new figure .image {
  width: fit-content;
  margin: auto;
  position: relative;
}
.new figure .image::before {
  content: "Digital Technology";
  position: absolute;
  padding: 15px 20px;
  color: white;
  border-radius: 10px;
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}
.new figure:first-of-type .image::before {
  background-color: #ff6448;
}
.new figure:last-of-type .image::before {
  background-color: #00aeff;
}
.new figure img {
  width: 100%;
  border-radius: 5px;
}
.new figure figcaption {
  width: 90%;
  margin: auto;
  background-color: white;
  padding: 30px;
  box-shadow: 0 0 15px rgb(0 0 0 / 30%);
  border-radius: 6px;
  transform: translateY(-50px);
}
.new figure figcaption .date {
  font-size: 15px;
  color: var(--grey-color);
  margin-bottom: 15px;
  cursor: pointer;
}
.new figure figcaption .date span {
  margin-right: 20px;
  transition: var(--main-transition);
}
.new figure figcaption .date span:hover {
  color: var(--orange-color);
}
.new figure figcaption .date i {
  color: var(--orange-color);
  margin-right: 5px;
}
.new figure figcaption a {
  width: 90%;
  color: var(--blue-color);
  line-height: 1.5;
  transition: var(--main-transition);
  cursor: pointer;
}
.new figure figcaption a:hover {
  color: var(--orange-color);
}
/* End new */
/* Start footer */
footer {
  background-color: rgb(244 246 251);
}
footer .foot-top {
  padding: var(--main-padding) 0;
  border-bottom: 1px solid var(--border-color);
}
@media (min-width: 768px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
  }
}
@media (min-width: 1200px) {
  footer .container {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: center;
  }
}
footer .box:first-of-type p {
  color: var(--grey-color);
  line-height: var(--main-line-height);
}
footer .box:first-of-type a {
  color: var(--orange-color);
  font-size: 20px;
  display: block;
  width: fit-content;
}
footer .box h2 {
  color: var(--blue-color);
  margin-bottom: 40px;
  font-weight: normal;
  position: relative;
}
footer .box h2::before {
  content: "";
  position: absolute;
  border: 1px solid var(--orange-color);
  width: 70px;
  bottom: -10px;
}
footer .box li {
  color: var(--grey-color);
  padding: 20px 20px 20px 0;
  cursor: pointer;
  transition: var(--main-transition);
}
footer .box:not(:last-child) li:hover {
  color: var(--orange-color);
  margin-left: 10px;
}
footer .box:last-of-type form {
  display: grid;
  gap: 20px;
}
footer .box:last-of-type form {
  border-radius: 10px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 20px;
}
footer .box:last-of-type form input {
  padding: 20px;
  border: none;
  opacity: 1;
  flex: 1;
}
footer .box:last-of-type form input::placeholder {
  transition: var(--main-transition);
}
footer .box:last-of-type form input:focus::placeholder {
  opacity: 0;
}
footer .box:last-of-type form i {
  color: var(--orange-color);
}
footer .box:last-of-type button {
  background-color: var(--orange-color);
  border: 1px solid var(--orange-color);
  color: white;
  border-radius: 30px;
  padding: 0 30px;
  cursor: pointer;
  overflow: hidden;
  transition: var(--main-transition);
  position: relative;
  z-index: 1;
  width: 180px;
  height: 50px;
}
footer .box:last-of-type button:hover {
  color: var(--orange-color);
}
footer .box:last-of-type button::before {
  content: "";
  position: absolute;
  left: -25%;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(45deg);
  z-index: -1;
  transition: var(--main-transition);
}
footer .box:last-of-type button:hover::before {
  width: 150%;
}
footer .foot-btn {
  display: block;
  padding: 30px 0;
  text-align: center;
  color: var(--grey-color);
}
footer .foot-btn span span {
  color: var(--orange-color);
  font-weight: bold;
}
/* End footer */
